body, html {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'gamer';
}

#background-image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}